Jinja2==2.7
MarkupSafe==0.18
Powerline==beta
Pygments==1.6
Sphinx==1.2b1
-e git+git@github.com:questrail/applyaf.git@c00eaea8693138c59a0cc75c3d34bf837442a4b8#egg=applyaf-dev
distribute==0.6.34
docutils==0.10
easydev==0.6.0
git-remote-helpers==0.1.0
ipython==0.13.2
matplotlib==1.2.1
nose==1.3.0
numpy==1.7.1
pandas==0.11.0
pep8==1.4.5
python-dateutil==2.1
pytz==2013b
pyzmq==13.1.0
readline==6.2.4.1
scipy==0.12.0
-e git+git@github.com:questrail/sdfascii.git@f0e0896af4e4be028086f0ed6b88ff64b7ae1824#egg=sdfascii-dev
-e git+git@github.com:questrail/siganalysis.git@0a3f980052a6555bb24d67a88d1bea53105e95da#egg=siganalysis-dev
six==1.3.0
spectrum==0.5.6
stevedore==0.8
-e git+git@github.com:questrail/taffmat.git@f50d831d73e114898dbb9d53efb4409cb3e31b84#egg=taffmat-dev
tornado==3.0.1
virtualenv==1.9.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.0
wsgiref==0.1.2
