coverage==4.2
cycler==0.10.0
flake8==3.0.4
invoke==0.13.0
matplotlib==1.5.3
mccabe==0.5.2
mock==2.0.0
nose==1.3.7
numpy==1.11.2
pbr==1.10.0
pep8==1.7.0
pep8-naming==0.4.1
pycodestyle==2.0.0
pyflakes==1.3.0
pypandoc==1.2.0
pyparsing==2.1.10
python-dateutil==2.5.3
pytz==2016.7
scipy==0.18.1
six==1.10.0
Unipath==1.1
